/* основной цвет #212121 */
/* вторичный цвет #757575 */
/* ацент #2196F3 */
/* белый #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* цвет офна герой #2F303A */

:root {
  --title-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  color: #757575;
  background-color: #fff;

  font-family: Roboto, sans-serif;
}

/* logo */

.logo {
  color: #2196f3;

  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* site nav */

.site-nav a {
  color: #212121;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* site info */

.site-info a {
  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-info .link:hover,
.site-info .link:focus {
  color: #2196f3;
}

/* hero */

.hero {
  background-color: #2f303a;
}

/* hero title */

.hero-title {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* features title */

.features-title {
  color: #212121;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* section title */

.section-title {
  color: #212121;
}

/* text section */

.text {
  color: #757575;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* team section */

.team-section {
  color: #212121;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* team */

.team {
  color: #757575;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* button */

.button {
  color: #ffffff;
  background-color: #2196f3;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
